[Unit]
Description=run django project
After=network.target

[Service]
ExecStart=/home/debian/django_project/education_system/.venv/bin/python /home/debian/django_project/education_system/manage.py runserver 0.0.0.0:8000
User=debian
Group=debian
WorkingDirectory=/home/debian/django_project/education_system/
Restart=always
RestartSec=3
StandardOutput=file:/var/log/django-server.log
StandardError=file:/var/log/django-server-error.log


[Install]
WantedBy=multi-user.target