services:
  db:
    container_name: education_postgres
    image: docker.arvancloud.ir/postgres:16.9-alpine
    ports:
      - "5432:5432"
    expose:
      - 5432
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always
    env_file: "postdb.env"
    environment:
      - POSTGRES_USER=$COMPOSE_POSTGRES_USER}
      - POSTGRES_DB=${COMPOSE_POSTGRES_DB}
      - POSTGRES_PASSWORD=${COMPOSE_POSTGRES_PASSWORD}

  redis:
    container_name: education_redis
    image: docker.arvancloud.ir/redis:8.4-alpine
    restart: always
    expose:
      - 6379

  nginx:
    container_name: education_nginx
    volumes:
      - static_files:/var/www/static
    restart: always
    build:
      context: dockerfile/prod/nginx
      dockerfile: Dockerfile
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - app

  app:
    container_name: django
    build:
      context: .
      dockerfile: dockerfile/prod/django/Dockerfile
    ports:
      - "8000:8000"
    expose:
      - 8000
    volumes:
      - static_files:/home/app/staticfiles
    env_file: ".env"
    restart: always
    depends_on:
      - db

  celery:
    container_name: education_celery
    restart: always
    build: .
    depends_on:
      - redis
    environment:
      - CELERY_BROKER_URL=redis://education_redis:6379/0
      - CELERY_RESULT_BACKEND=redis://education_redis:6379/1
    entrypoint: "celery -A education_system.dj_celery worker -l INFO -Q advertise,reminder,course_signup,referral_process,coupon_send,create_qrcode,notification"
    env_file: ".env"

  celery_beat:
    container_name: education_celery_beat
    restart: always
    build: .
    depends_on:
      - celery
    environment:
      - CELERY_BROKER_URL=redis://education_redis:6379/0
      - CELERY_RESULT_BACKEND=redis://education_redis:6379/1
    entrypoint: "celery -A education_system.dj_celery beat"
    env_file: ".env"

  pg_hero:
    container_name: pg_hero
    image: docker.arvancloud.ir/ankane/pghero
    ports:
      - "8080:8080"
    environment:
      - DATABASE_URL=postgres://${COMPOSE_POSTGRES_USER}:${COMPOSE_POSTGRES_PASSWORD}@db:5432/${COMPOSE_POSTGRES_DB}

volumes:
  static_files:
  postgres_data:
