[Unit]
Description=Flower Celery Monitor
After=network.target

[Service]
User=debian
Group=debian
Environment="PATH=/home/debian/django_project/education_system/.venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
WorkingDirectory=/home/debian/django_project/education_system
ExecStart=/home/debian/django_project/education_system/.venv/bin/python -m celery -A education_system.dj_celery flower --port=5500
Restart=always

[Install]
WantedBy=multi-user.target