[Unit]
Description=flower
After=network.target

[Service]
User=debian
Group=debian
WorkingDirectory=/home/debian/django_project/education_system
ExecPaths=/home/debian/django_project/education_system/.venv/bin/celery -A education_system.dj_celery flower --port=5500
Restart=always

[Install]
WantedBy=multi-user.target