[Unit]
Description=Flower Celery Monitor
After=network.target

[Service]
User=debian
Group=debian
WorkingDirectory=/home/debian/django_project/education_system
ExecStart=/home/debian/django_project/education_system/.venv/bin/celery -A education_system.dj_celery flower --port=5500
Restart=always
StandardOutput=file:/var/log/flower.log
StandardError=file:/var/log/flower-error.log

[Install]
WantedBy=multi-user.target