.git
.gitignore

.venv
venv
env

__pycache__
*.py[cod]
*.pyo

.env
.env.*

*.sqlite3
db.sqlite3

staticfiles
media

node_modules

.pytest_cache
.mypy_cache
.coverage
htmlcov

Dockerfile
docker-compose*.yml
